apiVersion: apps/v1
kind: DaemonSet
metadata:
  name: node-exporter
  namespace: monitoring
  labels:
    app: node-exporter
spec:
  selector:
    matchLabels:
      app: node-exporter

  template:
    metadata:
      labels: 
        app: node-exporter 

    spec:
      hostPID: true
      hostNetwork: true

      nodeSelector:
        exporter-node: "true" 

      containers:
        - name: node-exporter
          image: prom/node-exporter:v1.7.0
          imagePullPolicy: IfNotPresent
          args:
            - "--path.rootfs=/host"
          volumeMounts:
            - name: rootfs
              mountPath: /host
              readOnly: true
          ports:
            - name: metrics
              containerPort: 9100
              hostPort: 9100 
              protocol: TCP
      volumes:
        - name: rootfs
          hostPath:
            path: /
            type: Directory