apiVersion: apps/v1
kind: DaemonSet
metadata:
  name: node-exporter
  namespace: metrics
  labels:
    app: node-exporter
spec:
  selector:
    matchLabels:
      app: node-exporter

  template:
    metadata:
      labels: 
        app: node-exporter 

    spec:
      containers:
        - name: node-exporter
          image: prom/node-exporter:v1.7.0
          imagePullPolicy: IfNotPresent
          args:
            - "--path.rootfs=/host"
          securityContext:
            runAsNonRoot: true
            runAsUser: 65534
            readOnlyRootFilesystem: true            
          volumeMounts:
            - name: rootfs
              mountPath: /host
              readOnly: true
          ports:
            - name: metrics
              containerPort: 9100
              protocol: TCP
      volumes:
        - name: rootfs
          hostPath:
            path: /
            type: Directory