apiVersion: v1
kind: ServiceAccount
metadata:
  name: kube-state-metrics
  namespace: metrics
  labels: 
    app.kubernetes.io/name: kube-state-metrics 

---

apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole 
metadata:
  name: kube-state-metrics 
rules: 
  - apiGroups: [""]
    resources:
      - pods
      - services 
      - endpoints
      - nodes
      - namespaces
      - events
    verbs: [ "list", "watch" ]
  - apiGroups: [ "apps" ]
    resources:
      - deployments
      - daemonsets
      - statefulsets
      - replicasets
    verbs: [ "list", "watch" ] 
  - apiGroups: [ "batch" ]
    resources:
      - jobs 
      - cronjobs 
    verbs: [ "list", "watch" ]

--- 

apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRoleBinding 
metadata: 
  name: kube-state-metrics 
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: kube-state-metrics
subjects: 
  - kind: ServiceAccount
    name: kube-state-metrics
    namespace: metrics