apiVersion: v1 
kind: PersistentVolumeClaim
metadata: 
  name: prometheus-data
  namespace: monitoring
  labels: 
    app: prometheus 
spec: 
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 5Gi
  storageClass: standard