apiVersion: v1 
kind: ServiceAccount 
metadata:
  name: prometheus
  namespace: metrics
  labels: 
    app.kubernetes.io/name: prometheus 

--- 

apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: prometheus
rules:
  # discover cluster resources 
  - apiGroups: [""] 
    resources: 
      - nodes
      - nodes/metrics
      - services 
      - endpoints
      - pods
      - namespace
    verbs: ["get", "list", "watch"]

  # access kubelet & cadvisor endpoints 
  - apiGroups: [""]
    resources:
      - nodes/proxy
      - nodes/stats
      - nodes/metrics
    verbs: ["get"]
  
  # scrape API server metrics 
  - nonResourceURLs:
      - /metrics
      - /metrics/cadvisor
      - /metrics/probes
    verbs: ["get"]

--- 

apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRoleBinding
metadata:
  name: prometheus
roleRef: 
    apiGroup: rbac.authorization.k8s.io
    kind: ClusterRole
    name: prometheus
subjects:
  - kind: ServiceAccount
    name: prometheus
    namespace: metrics
      