apiVersion: v1
kind: Service
metadata: 
  name: kube-state-metrics
  namespace: metrics
  labels: 
    app.kubernetes.io/name: kube-state-metrics
    app.kubernetes.io/component: exporter 
spec:
  selector: 
    app.kubernetes.io/name: kube-state-metrics
    app.kubernetes.io/component: exporter
  ports:
    - name: http-metrics
      port: 8080
      targetPort: 8080
    - name: telemetry
      port: 8081
      targetPort: 8081