apiVersion: v1
kind: ServiceAccount
metadata:
  name: grafana
  namespace: metrics

--- 

apiVersion: rbac.authorization.k8s.io/v1
kind: Role
metadata: 
  name: grafana
  namespace: metrics
rules:
  - apiGroups: [""] 
    resources: ["configmaps", "secrets"]
    verbs: ["get", "list"]

--- 

apiVersion: rbac.authorization.k8s.io/v1
kind: RoleBinding 
metadata:
  name: grafana
  namespace: metrics
subjects: 
  - kind: ServiceAccount
    name: grafana
    namespace: metrics
roleRef: 
  kind: Role 
  apiGroup: rbac.authorization.k8s.io
  name: grafana 