apiVersion: v1
kind: ServiceAccount
metadata:
  name: grafana
  namespace: monitoring

--- 

apiVersion: rbac.authorization.k8s.io/v1
kind: Role
metadata: 
  name: grafana
  namespace: monitoring
rules:
  - apiGroups: [""] 
    resources: ["configmaps", "secrets"]
    verbs: ["get", "list"]

--- 

apiVersion: rbac.authorization.k8s.io/v1
kind: RoleBinding 
metadata:
  name: grafana
  namespace: monitoring
subjects: 
  - kind: ServiceAccount
    name: grafana
    namespace: monitoring
roleRef: 
  - kind: Role 
    apiGroup: rbac.authorization.k8s.io
    name: grafana 