name: CI - Kubernetes Kind & Monitoring Validation

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  kind-validation:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout Repository
      uses: actions/checkout@v3

    - name: Set up Kind
      uses: engineerd/setup-kind@v0.5.0
      with:
        version: v0.20.0

    - name: Set up kubectl
      uses: azure/setup-kubectl@v3
      with:
        version: 'latest'

    - name: Create Kind Cluster
      run: |
        chmod +x setup-k8s-cluster.sh
        bash setup-k8s-cluster.sh